.headContainer {
  background-color: #34113f;
  padding: 20px;
  margin: 80px auto;
  width: 60vw;
  text-align: center;
  border-radius: 15px;
}

.tracksContainer {
  background-color: #34113f;
  width: 60vw;
  margin: 80px auto;
  border-radius: 15px;
  display: flex;
  padding: 15px;
}
